<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<style>
    .layout{
        width: 1000px;
        margin : 0 auto;
    }
</style>
<body>
    <div class="layout">
        <form action="/posts" method="post">
            <select name="Kind">
                <option value="NORMAL">NORMAL</option>
                <option sec:authorize="hasRole('ROLE_ADMIN')"value="NOTICE">NOTICE</option>
                <option sec:authorize="hasRole('ROLE_ADMIN')"value="MANAGE">MANAGE</option>
            </select>
            <input name="title" type="text">
            <textarea name="content"></textarea>
            <button type = "submit">제출</button>
        </form>
    </div>
</body>
</html>