<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${kind}"></title>
</head>
<body>
<div class="layout">
    <table>
        <thead>
        <tr>
            <th>분류</th>
            <th>갯수</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${stat.FemaleCount}">female</td>
        <td th:text="${stat.MaleCount}">male</td>
        <tr th:each="age : ${stat.Agecount}">
            <td th:text="${age}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>